Q1 SOLUTION

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.

Difference between SQL and NOSQL

1)Databases are categorized as Relational Database Management System (RDBMS).	NoSQL databases are categorized as Non-relational or distributed database system.

2)SQL databases have fixed or static or predefined schema.	NoSQL databases have dynamic schema.

3)SQL databases display data in form of tables so it is known as table-based database.	NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.

4)SQL databases are vertically scalable.	NoSQL databases are horizontally scalable.

5)SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.	In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.

6)SQL databases are best suited for complex queries.	NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.

7)SQL databases are not best suited for hierarchical data storage.	NoSQL databases are best suited for hierarchical data storage.

8)MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.	MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

Q2 SOLUTION

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1. CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2. ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

3. TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

4. DROP :
This command is used to remove an existing table along with its structure from the Database.

Example –
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

Q3 SOLUTION

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation. DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

1. INSERT Command –
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
Syntax :

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)

VALUES ('value1', 'value2');

Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

2. UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
Syntax :

UPDATE <table_name>

SET <column_name = value>

WHERE condition;

Example :

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

3. DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
Syntax :

DELETE FROM <table_name>

WHERE <condition>;

Example :

DELETE FROM students

WHERE stu_id = '001';

Q4 SOLUTION

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

SELECT Command : You can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra. The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table, which is subsequently displayed or received by a program, i.e. a front-end.

Syntax

SELECT expression FROM table_x WHERE code_conditions;

Example

SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

Q5 SOLUTION

A primary key and a foreign key are two important concepts in relational databases that help establish relationships between tables and ensure data integrity. Let's explain each term:

Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record (row) in that table. Its main purpose is to ensure the uniqueness and integrity of the data within the table. Here are some key points about primary keys:

1. Uniqueness: A primary key must have a unique value for each record in the table. No two records can have the same primary key value.

2. Non-nullability: A primary key cannot contain a null value. Every record in the table must have a valid primary key value.

3. Stability: A primary key should be stable and not change over time. It provides a reliable way to identify and reference a specific record.

4. Single value or composite key: A primary key can be a single column or a combination of multiple columns (composite key) that together uniquely identify a record.

5. Indexing: Primary keys are typically automatically indexed by the database management system, which helps improve search performance.

Foreign Key:
A foreign key is a column or a set of columns in a table that establishes a link or relationship between that table and another table. It creates a logical connection between two tables based on the values stored in the foreign key column(s). Here are some key points about foreign keys:

1. Referential integrity: The primary purpose of a foreign key is to enforce referential integrity, ensuring that relationships between tables are maintained correctly.

2. Relationship establishment: A foreign key in one table refers to the primary key of another table. This relationship defines how the two tables are related.

3. Data consistency: The foreign key ensures that the values stored in the referencing column(s) of one table exist in the referenced column(s) of the related table. It prevents the creation of "orphaned" records.

4. Cascading actions: Foreign keys can be set up to define cascading actions such as cascading updates or deletes. These actions automatically propagate changes in the referenced primary key to the related foreign key values.

5. Multiple relationships: A table can have multiple foreign keys that reference different tables or even the same table. This allows for more complex relationships and database structures.

In summary, a primary key uniquely identifies records within a table, while a foreign key establishes relationships between tables by referring to the primary key of another table. Together, primary keys and foreign keys play a vital role in maintaining data integrity and ensuring the accuracy of relational databases.

Q6 SOLUTION

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 53.5 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 66.1 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.11
    Uninstalling protobuf-4.21.11:
      Successfully uninstalled protobuf-4.21.11
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="host",
    user="username",
    password="password",
    database="database"
)

cursor = mydb.cursor()

cursor.execute("SELECT * FROM testtable")

results = cursor.fetchall()

for row in results:
    print(row)
cursor.close()
mydb.close()

1. cursor(): The cursor() method creates a cursor object, which is used to execute SQL queries and fetch the results. It is called on the database connection object (mydb in the code above) and returns a new cursor.

2. execute(): The execute() method is used to execute SQL queries through the cursor. It takes an SQL statement as a parameter and executes it against the connected database. In the code above, we executed a SELECT query: "SELECT * FROM table". The execution of this query will fetch all the rows from the table specified and make them available for further processing.

Q7 SOLUTION

The order of execution of SQL clauses in an SQL query generally follows these steps:

1. FROM: The FROM clause specifies the tables or views from which the data is retrieved. It identifies the data sources for the query.

2. JOIN: If the query involves joining multiple tables, the JOIN clause is used to combine the related tables based on specified join conditions. It determines how the tables are linked.

3. WHERE: The WHERE clause is used to filter the rows returned by the query based on specified conditions. It allows you to specify criteria that the data must meet to be included in the result set.

4. GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It is typically used in conjunction with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on groups of rows.

5. HAVING: The HAVING clause filters the groups generated by the GROUP BY clause based on specified conditions. It is similar to the WHERE clause but operates on groups rather than individual rows.

6. SELECT: The SELECT clause determines which columns or expressions to include in the result set. It specifies the data to be retrieved from the tables or views.

7. DISTINCT: The DISTINCT keyword (which can be part of the SELECT clause) eliminates duplicate rows from the result set.

8. ORDER BY: The ORDER BY clause sorts the result set based on one or more columns. It allows you to specify the sorting order (ascending or descending) for each column.

9. LIMIT/OFFSET: The LIMIT clause is used to restrict the number of rows returned by the query, while the OFFSET clause is used to skip a certain number of rows from the beginning of the result set.

In [ ]:
print("End")