In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Q1 SOLUTION

In [7]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
index = ['A', 'B', 'C', 'D', 'E', 'F'] 
series = pd.Series(data, index=index)
print(series)

A     4
B     8
C    15
D    16
E    23
F    42
dtype: int64

Q2 SOLUTION

In [8]:
import pandas as pd
data = [3, 9, 15, 20, 25, 36, 39, 40, 45, 6]
series = pd.Series(data)
print(series)

0     3
1     9
2    15
3    20
4    25
5    36
6    39
7    40
8    45
9     6
dtype: int64

Q3 Solution

In [9]:
import pandas as pd
data = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Q4 SOLUTION

In Pandas, a DataFrame is a 2-dimensional labeled data structure that is commonly used to store and manipulate tabular data. It can be thought of as similar to a spreadsheet or a SQL table. A DataFrame consists of rows and columns, where each column can have a different data type. It is a central data structure for data manipulation and analysis in Pandas.

On the other hand, a Series is a 1-dimensional labeled array that can hold data of any type. It is similar to a column in a DataFrame or a single row of data. A Series has both data values and associated index labels, making it a powerful data structure for working with sequences of data.

Let's illustrate the difference between DataFrame and Series with an example:

In [3]:
import pandas as pd
data = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

data1 = [3, 9, 15, 20, 25, 36, 39, 40, 45, 6]
series = pd.Series(data1)
print("\nSeries:")
print(series)

DataFrame:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Series:
0     3
1     9
2    15
3    20
4    25
5    36
6    39
7    40
8    45
9     6
dtype: int64

Q5 SOLUTION

Here are some common functions along with examples of when you might use them:

1. head() and tail(): These functions allow you to view the first or last few rows of a DataFrame, respectively.

In [4]:
import pandas as pd
data = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df.head(1))
print(df.tail(2))

    Name  Age  Gender
0  Alice   25  Female
      Name  Age  Gender
1      Bob   30    Male
2  Charlie   27  Female

2. info(): Provides a summary of the DataFrame's structure, including data types and memory usage.

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

3. describe(): Generates summary statistics of numerical columns.

In [6]:
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

4. shape: Returns the number of rows and columns in the DataFrame.

In [7]:
print(df.shape)

(3, 3)

5. drop(): Used to remove rows or columns from the DataFrame.

In [11]:
drop1 = df.drop("Gender", axis = 1)
print(drop1)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   27

6. sort_values(): Used to sort the DataFrame based on one or more columns.

In [12]:
df_sorted = df.sort_values(by='Age', ascending=False)
print(df_sorted)

      Name  Age  Gender
1      Bob   30    Male
2  Charlie   27  Female
0    Alice   25  Female

Q6 SOLUTION

Among the options provided, the DataFrame is mutable in nature. This means that you can modify its content after creation. You can add or remove columns, change values within cells, and perform various other operations that alter the structure or values within the DataFrame.

On the other hand, both Series and Panel (which has been deprecated in recent versions of Pandas) are considered immutable once created. This means that you cannot directly modify their content after creation. If you need to make changes to a Series or Panel, you typically create a new object with the desired changes.

Q7 SOLUTION

You can create a DataFrame using multiple Series by combining them into a dictionary where each Series corresponds to a column, and then using the Pandas pd.DataFrame() constructor to create the DataFrame. Here's an example:

In [14]:
import pandas as pd
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name' : name,
    'Age' : age,
    'Gender' : gender
}
print(pd.DataFrame(data))

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female