Q1 Solution

Five Pandas Functions with Examples

1. read_csv(): This function is used to read data from a CSV file into a Pandas DataFrame.

import pandas as pd

df = pd.read_csv('example.csv')

print(df)

2. head(): Returns the first n rows of a DataFrame. It is useful to quickly inspect the data.

print(df.head())

3. info(): Provides a concise summary of a DataFrame, including the data types, non-null values, and memory usage.

print(df.info())

4. describe(): Generates descriptive statistics of a DataFrame, including measures of central tendency, dispersion, and shape of the distribution.

print(df.describe())

5. groupby(): This function is used to split the data into groups based on some criteria and then apply a function to each group independently.

grouped_data = df.groupby('category').mean()
print(grouped_data)

Q2 SOLUTION

In [1]:
import pandas as pd

def reindex(df):
    df = df.reset_index(drop=True)

    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)

    df.index = new_index

    return df

df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
result_df = reindex(df)

print(result_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3 SOLUTION

In [4]:
import pandas as pd
def calculate(df):
    if 'Values' not in df:
        print("Error")
        return
    values_column = df['Values']
    
    if len(values_column) < 3:
        print("Error")
        return
    sum = values_column.iloc[:3].sum()
    print("The sum of first 3 values is :", sum)
df = pd.DataFrame({'Values': [5, 10, 15, 20, 25]})
calculate(df)

The sum of first 3 values is : 30

Q4 Solution

In [1]:
import pandas as pd
def word_count(df):
    if 'Text' not in df.columns:
        print("Error")
        return
    df['Word Count'] = df['Text'].apply(lambda x: len(str(x).split()))
df = pd.DataFrame({'Text': ["This is a sample sentence.", "Another example.", "Only one word."]})
word_count(df)
print(df)

                         Text  Word Count
0  This is a sample sentence.           5
1            Another example.           2
2              Only one word.           3

Q5 Solution

There's a subtle difference between DataFrame.size and DataFrame.shape in Pandas.

DataFrame.size: This attribute returns the total number of elements in the DataFrame. It's equivalent to the total number of cells, calculated as the product of the number of rows and columns.

In [2]:
import pandas as pd

df = pd.DataFrame({'Name':['John', 'Alice', 'Doe'], 'Age': [11, 19, 23]})

size_of_df = df.size

print(size_of_df)

6

DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the number of rows and the number of columns.

In [3]:
import pandas as pd

df = pd.DataFrame({'Name':['John', 'Alice', 'Doe'], 'Age': [11, 19, 23]})

shape_of_df = df.shape

print(shape_of_df)

(3, 2)

Q6 SOLUTION


In Pandas, you can use the read_excel function to read data from an Excel file. This function is part of the Pandas library and is specifically designed for reading data from Excel files into a Pandas DataFrame.

Here's an example of how you can use the read_excel function:

import pandas as pd

file_path = 'example.xlsx'

df = pd.read_excel(file_path)

print(df.head())

Q7 SOLUTION

In [4]:
import pandas as pd
def extract_username_from_email(df):
    if 'Email' not in df.columns:
        print("Error: 'Email' column not found in the DataFrame.")
        return
    df['Username'] = df['Email'].str.extract(r'([^@]+)')
df = pd.DataFrame({'Email': ['user1@example.com', 'user2@example.org', 'user3@example.net']})
extract_username_from_email(df)
print(df)

               Email Username
0  user1@example.com    user1
1  user2@example.org    user2
2  user3@example.net    user3

Q8 SOLUTION

In [5]:
import pandas as pd

def select_rows_condition(df):
    if 'A' not in df.columns or 'B' not in df.columns:
        print("Error: Columns 'A' and 'B' are required in the DataFrame.")
        return None
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    return selected_rows

df = pd.DataFrame({'A': [4, 6, 8, 10], 'B': [3, 8, 12, 5], 'C': [2, 7, 9, 11]})

selected_df = select_rows_condition(df)

print(selected_df)

    A  B   C
1   6  8   7
3  10  5  11

Q9 SOLUTION

In [7]:
import pandas as pd

def calculate_statistics(df):
 
    if 'Values' not in df.columns:
        print("Error: 'Values' column not found in the DataFrame.")
        return None

    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()

    statistics_dict = {
        'Mean': mean_value,
        'Median': median_value,
        'Standard Deviation': std_deviation
    }

    return statistics_dict

df = pd.DataFrame({'Values': [10, 15, 20, 25, 30]})

statistics_result = calculate_statistics(df)

print(statistics_result)

{'Mean': 20.0, 'Median': 20.0, 'Standard Deviation': 7.905694150420948}

Q10 SOLUTION

In [8]:
import pandas as pd

def calculate_moving_average(df):
  
    if 'Sales' not in df.columns or 'Date' not in df.columns:
        print("Error: 'Sales' and 'Date' columns are required in the DataFrame.")
        return None

    df = df.sort_values(by='Date')

    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=20),
    'Sales': [10, 15, 12, 18, 20, 25, 22, 28, 30, 35, 32, 38, 40, 45, 42, 48, 50, 55, 52, 58]
})

df_with_ma = calculate_moving_average(df)

print(df_with_ma)

         Date  Sales  MovingAverage
0  2023-01-01     10      10.000000
1  2023-01-02     15      12.500000
2  2023-01-03     12      12.333333
3  2023-01-04     18      13.750000
4  2023-01-05     20      15.000000
5  2023-01-06     25      16.666667
6  2023-01-07     22      17.428571
7  2023-01-08     28      20.000000
8  2023-01-09     30      22.142857
9  2023-01-10     35      25.428571
10 2023-01-11     32      27.428571
11 2023-01-12     38      30.000000
12 2023-01-13     40      32.142857
13 2023-01-14     45      35.428571
14 2023-01-15     42      37.428571
15 2023-01-16     48      40.000000
16 2023-01-17     50      42.142857
17 2023-01-18     55      45.428571
18 2023-01-19     52      47.428571
19 2023-01-20     58      50.000000

Q11 SOLUTION

In [17]:
import pandas as pd
def week_day(df):
    if 'Date' not in df.columns:
        print("Error")
        return None
    df = df.sort_values(by='Date')
    
    df['Weekday'] = df['Date'].dt.day_name()
    return df
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=5)})
df_weekday = week_day(df)
print(df_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12 SOLUTION

In [3]:
import pandas as pd

def select_rows_by_date_range(df, start_date, end_date):
   
    if 'Date' not in df.columns:
        print("Error: 'Date' column not found in the DataFrame.")
        return None

    df['Date'] = pd.to_datetime(df['Date'])

    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return selected_rows

df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=31)})

start_date = '2023-01-01'
end_date = '2023-01-31'

selected_df = select_rows_by_date_range(df, start_date, end_date)

print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13 SOLUTION


To use the basic functions of Pandas, you need to import the Pandas library. You can do this using the following import statement:

In [1]:
import pandas as pd

In [ ]:
End of Assignment