Q1. Create one variable containing following type of data:

In [5]:
a = "Hello World"

In [6]:
b = ["Python", True, 3, 6, 6.5]

In [8]:
c = 55.5

In [10]:
d = (3, 9, False, "Python")

Q2) Solution:

(i) String

(ii) String

(iii) List

(iv) Int

Q3) Solution:

(i) It is a division operator which divides two numbers and gives the result. Example:

In [12]:
7/2

3.5

ii) It is modulus operator which gives us the remainder when we divide two numbers. Example:

In [13]:
5%2

1

here when we divide 5 by 2, the remainder is 1

iii) It is a floor division operator which divides the two numbers and rounds down the result to nearest integer

In [14]:
23//6

3

iv) It is an exponent operator. Example:

In [15]:
2**3

8

Here the number 2 is raised to power 3 which means 2 should be multiplied 3 times which gives us the result 8

Q4) Solution:

In [16]:
list1 = [9, "Python", 7.6, True, 9, "Delhi", False, 5, 8, 88.6]

In [17]:
# printing the values
for i in list1:
    print(i)

9
Python
7.6
True
9
Delhi
False
5
8
88.6

In [18]:
# printing the data type
for i in list1:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'float'>

Q5) Solution:

In [21]:
num1 = int(input("Enter a number A: "))
num2 = int(input("Enter a number B: "))
count = 0
while num1%num2 == 0:
  num1 = num1/num2
  count = count + 1

if count == 0:
  print("Number A isn't divisible by Number B")
else:
  print("Number A is divisible by Number B")
  print(f"Number A is divisble {count} times by Number B")

Enter a number A:  729
Enter a number B:  3

Number A is divisible by Number B
Number A is divisble 6 times by Number B

Q6) Solution:

In [23]:
list2 = [5, 78, 56, 33, 6, 67, 100, 343, 89, 98, 555, 678, 546, 999, 23, 30, 729, 43, 40, 30, 597, 36, 81, 61, 27 ]
for i in list2:
  if i%3 == 0:
    print(f"{i} is divisible by 3")
  else:
    print(f"{i} isn't divisible by 3")

5 isn't divisible by 3
78 is divisible by 3
56 isn't divisible by 3
33 is divisible by 3
6 is divisible by 3
67 isn't divisible by 3
100 isn't divisible by 3
343 isn't divisible by 3
89 isn't divisible by 3
98 isn't divisible by 3
555 is divisible by 3
678 is divisible by 3
546 is divisible by 3
999 is divisible by 3
23 isn't divisible by 3
30 is divisible by 3
729 is divisible by 3
43 isn't divisible by 3
40 isn't divisible by 3
30 is divisible by 3
597 is divisible by 3
36 is divisible by 3
81 is divisible by 3
61 isn't divisible by 3
27 is divisible by 3

Q7) Solution:

Mutable Data Types are those data types which allow to change its value. e.g list, dictionary and sets.. Example:

In [24]:
list3 = ["Python", 3, True]

In [25]:
# let us change the value of index 1 from 3 to 90
list3[1] = 90

In [26]:
# Now let us print the list again
print(list3)

['Python', 90, True]

As we can see we changed the value of index 1 so the list got modified, such thing is possible in mutable data types

Immutable Data types are those data types which once defined cannot be changed. The value of immutable data type cannot be changed. e.g int, str, float, tuple... Example:

In [27]:
str = "Python"

In [31]:
# We will try to change the value of str at index 2 i.e. t
str[2] = "s"

TypeError: 'str' object does not support item assignment

In [30]:
    # We will print the value of string again to check if the string has been modified or not
    print(str)

Python

As we can see we cannot change the value of string, we get an error if we do so. Also when we print the s